@font-face {
    font-family: "Bungee Shade";
    src: url(Bungee_Shade.zip);
}

body {
    margin: 0;
    color: white;
}

h1 {
    font-family: "Bungee Shade";
}

body>div {
    background-image: url(../sidan/images/Ed_Sheeran_desktop1.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 100px;
}

div:nth-of-type(1) div:only-child {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    width: 85vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    gap: 5px;
    padding-bottom: 60px;
}

nav>div {
    background-color: rgba(255, 255, 255, 0.6);
    flex-grow: 1;
    text-align: center;
    padding: 13px;
    border-radius: 10px;
}

nav>div:nth-of-type(1):hover,
nav>div:nth-of-type(3):hover,
nav>div:nth-of-type(4):hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
}

.marked {
    box-shadow: 0 0 .4em white;
    border: 1px solid white;
    font-weight: bold;
}

#X {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 30px;
    width: 80vw;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

article {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(4, auto);
}

.album_data {
    grid-column: 1 / span 5;
    grid-row: 1 / span 3;

    padding-right: 15px;
}

.album_data h2 {
    margin-bottom: 60px;
}

.album_data ul {
    list-style: none;
    margin-bottom: 70px;
}

.cover {
    grid-column: 6;
    grid-row: 1 / span 2;
}

.song_list ul {
    list-style: normal;
    padding-left: 15px;
}

.song_list {
    grid-column: 6;
    grid-row: 3;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 5px;
}

.song_list>div:first-of-type {
    border-radius: 0 0 0 20px;
}

.song_list>div:last-of-type {
    border-radius: 0 0 20px 0;
}

#X .song_list div {
    background-color: #0eb74b;
    color: black;
    padding-left: 15px;
}

.anecdotes {
    grid-column: 1 / span 6;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#X .anecdotes {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#X .anecdotes li {
    background-color: rgb(20, 65, 30);
    color: #0eb74b;
}

#X .anecdotes li:nth-of-type(1) {
    grid-column: 1;

    padding: 40px 20px;
    border-radius: 20px 0 20px 20px;
}

#X .anecdotes li:nth-of-type(3) {
    grid-column: 3;
    display: flex;
    align-items: center;

    padding: 20px;
    border-radius: 20px 20px 20px 0;
}

.empty {
    display: none;
}

#X .anecdotes li:nth-of-type(6) {
    background-image: url(../sidan/images/Ed_sheeran.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    padding: 10px;
    border-radius: 0 20px 20px 20px;

    grid-column: 4;
}

#X .anecdotes li:nth-of-type(7) {
    grid-column: 5;

    padding: 30px 20px;
    border-radius: 20px 20px 0 20px;
}

.cover img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.cover .show_hover {
    display: none;
}

.cover:hover .show_hover {
    display: block;
    margin-bottom: 5px;
}

.cover:hover .show_not_hover {
    display: none;
}

#divide {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 30px;
    width: 80vw;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

#divide .song_list div {
    background-color: #48bada;
    color: black;
    padding-left: 15px;
    padding-right: 10px;
}

#divide .anecdotes {
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

#divide .anecdotes li {
    background-color: rgb(4, 124, 198);
    color: white;
}

#divide .anecdotes li:nth-of-type(1) {
    grid-column: 1;

    padding: 40px 20px;
    border-radius: 20px 20px 20px 0;
}

#divide .anecdotes li:nth-of-type(2) {
    grid-column: 2;
    display: flex;
    align-items: center;

    padding: 20px;
    border-radius: 0 20px 20px 20px;
}

#divide .anecdotes li:nth-of-type(5) {
    background-image: url(../sidan/images/Grammy.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    padding: 10px;
    border-radius: 0 20px 20px 20px;

    grid-column: 3;
}

#divide .anecdotes li:nth-of-type(6) {
    grid-column: 4;

    padding: 30px 20px;
    border-radius: 20px 20px 0 20px;
}